*{
    margin: 0;
    padding: 0;
    
    font-family: 'Catamaran';
    text-decoration: none;
}
body{background-color: #eeeeee;}

.grid {
    background-color:#dddddd; ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "title title"
    "header header"
    "sidebar sidebar"
    "content content"
    "footer footer";
    grid-gap: 5px;

}

.title{
    grid-area: title; 
    padding:0 5px;   
    padding-bottom:5px;
    background-color: #fff;
    border-top: 5px solid #ff8364;
    
}
.title p{font-family: 'Corben';font-size: 22px; color:#ff8364;background-color: #fff;}

.header{
    grid-area:header;
    width: 100%;
    overflow: none;
    background-color: #5f6caf;
}




.sidebar{
    grid-area:sidebar;
    padding:10px;
    background-color: #edf7fa;
}

.sidebar form{ 
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    
}
.sidebar form input { 
    width: 100%;
    margin: 5px auto;
}



.content{
    grid-area:content;
    padding: 10px;
    background-color: #edf7fa;
    min-height: calc(100vh - 200px);
}



.index-table {
    border-collapse: collapse;
    width: 100%;    
    border: 1px solid black;
    font-size: 14px;
}

.index-table td, .index-table th{
    text-align: center;
    padding: 5px 8px;
    border: 1px solid black;
}

.index-table th{
    background-color: #FFA892;
}

.index-table tr:nth-child(even){
    background-color: #f2f2f2;
}







.img-dropdown {
    width: 10px;
}

@media screen and (min-width:736px)
{
    .grid {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 2.5fr 0.5fr;
        grid-template-areas: 
        ". title title ."
        ". header header ."
        ". sidebar content ."
        ". footer footer .";
    
    }
}

.error{color: red; font-size: 14px;}

.warning{color: orange;}

.success{color: green;}